.navbar {
  background-color: blueviolet;
  display: flex;
  justify-content: flex-start;
}
.navbar h1 {
  color: aliceblue;
}

.botoes {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  flex-direction: row;
  align-items: center;
}

#vermelho {
  margin: 10px;
  background-color: red;
  border: 0;
  height: 1rem;
  width: 3rem;
}
#verde {
  margin: 10px;
  background-color: green;
  border: 0;
  height: 1rem;
  width: 3rem;
}

#azul {
  margin: 10px;
  background-color: blue;
  border: 0;
  height: 1rem;
  width: 3rem;
}
